# Dependencies
node_modules/
package-lock.json

# Environment variables
.env*
!.env.example


# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/
.nyc_output/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/*
!uploads/.gitkeep

# Prisma
prisma/migrations/
